@using MonitoringSystem.Application.Common.Models;
@using MonitoringSystem.Application.UseCases.Grades.Models;
@using MonitoringSystem.Application.UseCases.Students.Models;
@using MonitoringSystem.Application.UseCases.Subjects.Models;
@using MonitoringSystem.Application.UseCases.Teachers.Models;
@using MonitoringSystem.Domein.Entities;
@model PaginatedList<GradeDto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "All Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Optionally, specify a layout

    List<SubjectDto>? Subjects = ViewData["Subjects"] as List<SubjectDto>;
    List<StudentDto>? Students = ViewData["Students"] as List<StudentDto>;

}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    h3 {
        text-align: center;
        margin-top: 20px;
    }

    p {
        text-align: center;
        margin-bottom: 20px;
    }

    .table-container {
        width: 80%;
        margin: 20px auto;
        overflow-x: auto;
    }

    .table {
        width: fit-content;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #007bff;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e0e0e0;
    }

    .action-links {
        display: flex;
    }

        .action-links a {
            margin-right: 10px;
            padding: 6px 12px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }
</style>

<h3>Scores Table</h3>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 40%;"> First name</th>
                <th style="width: 40%;"> Last name</th>
                <th style="width: 40%;">Subject Name</th>
                <th style="width: 40%;">Mark</th>
                <th style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model.Items)
            {
                <tr>
                    <td>@Students.First(x=>x.Id==subject.StudentId).FirstName </td>
                    <td>@Students.First(x=>x.Id==subject.StudentId).LastName </td>
                    <td>@Subjects.First(x=>x.Id==subject.SubjectId).SubjectName </td>
                    <td>@subject.GradeNum </td>
                    <td class="action-links">
                        <a href="@Url.Action("Update", subject)">Edit</a>
                        <a href="@Url.Action("Delete", new { id = subject.Id })">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@*<div class="container fixed-bottom d-flex align-items-center justify-content-center">
    @Html.PagedListPager((IPagedList)Model,page => Url.Action("GetAll", "Grade",new{pageNumber= page}),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
    DisplayItemSliceAndTotal = false,
    ContainerDivClasses = new[] { "navigation" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    })

</div>*@
<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create Mark</a>
</p>
